.Authors_container{
    width: 100%;
    border: 2px solid red;
    margin-top: 1rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-block: 2rem;
    gap: 2rem;
}

.author_data{
     /* border: 2px solid red; */
     min-width: 40%;
     nin-height: 20rem;
     padding: 2rem;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     align-items: center;
     gap: 0.5rem;
     background-color: #46334E;
     border-radius: 10px;
}